{% extends 'app/layout.html' %}

        
        {% block content %}
            {% include 'app/modal.html' %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        <ul>
                    {% for message in messages %}
                        <li style="list-style: none; color: red;">{{ message }}</li>
                    {% endfor %}
                        </ul>
                {% endif %}
            {% endwith %}
            
            <a href="#" class="btn btn-primary m-3" id="new-board" data-toggle="modal" data-target="#exampleModal">Create new board</a>
            <div id="root"></div>


            
            <div class="container testimonial-group">
                <div class="row text-center">
                <div class="col-xs-4">1</div><!--
            --><div class="col-xs-4">2</div><!--
            --><div class="col-xs-4">3</div><!--
            --><div class="col-xs-4">4</div><!--
            --><div class="col-xs-4">5</div><!--
            --><div class="col-xs-4">6</div><!--
            --><div class="col-xs-4">7</div><!--
            --><div class="col-xs-4">8</div><!--
            --><div class="col-xs-4">9</div>
                </div>
            </div>

        {% endblock %}

    </body>
</html>
